numpy==1.17.3
tqdm==4.58.0
colorama==0.4.4
scikit-image==0.18.1
matplotlib==3.3.4
levenshtein==0.12.0
ds_ctcdecoder==0.9.3
opencv-python==4.5.1.48
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cu110
torchvision==0.8.2+cu110